body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.dotted-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #000 1px, transparent 1px);
    background-size: 20px 20px;
    animation: moveDots 2s linear infinite;
}

@keyframes moveDots {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.name {
    margin-bottom: 1rem;
    text-align: center;
}

.name h1 {
    font-size: 5rem;
    color: #343a40;
    letter-spacing: -1px;
}

/* Tooltip styling */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    background-color: #343a40;
    color: #fff;
    border-radius: .25rem;
    font-size: .75rem;
    white-space: nowrap;
}

/* Socials styling */
.socials {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.socials a {
    text-decoration: none;
}

.socials img {
    width: 3rem;
    height: 3rem;
}

/* Responsive styling */
@media (max-width: 768px) {
    .name h1 {
        font-size: 2.5rem;
    }

    .socials img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
