*{
    font-family: "Rubik", sans-serif;
}

.quoteClass {
    font-weight: 200;
    font-size: 1.8em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.quoteClass .letter {
    display: inline-block;
    line-height: 1em;
}